{{#if hasLocation}}
  <div id="address-map" class="border-top">
    <div class="row no-gutters">
      <div class="col">
        <address class="d-none d-xs-block d-sm-block">
          <strong>{{church.name}}</strong><br>
          <p>
            {{church.address}}<br>
            {{church.address2}}<br>
            {{church.city}}<br>
            {{church.state}}<br>
            p: {{church.phone}}
          </p>
          {{#if church.serviceTimes}}
            <p class="mb-0">
              Services: {{church.serviceDay}} - {{church.serviceTimes}}
            </p>
          {{/if}}
        </address>
        {{#leaflet-map lat=church.latitude lng=church.longitude zoom=13 scrollWheelZoom=false}}

          {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
          {{!-- {{tile-layer url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png"}} --}}
          {{!-- {{tile-layer url="http://b.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png"}} --}}

          {{#marker-layer location=location}}
            {{#popup-layer}}
              <h5>{{church.name}}</h5>
            {{/popup-layer}}
          {{/marker-layer}}

        {{/leaflet-map}}
      </div>
    </div>
  </div>
{{/if}}
