<ul id="audios">
  {{#each sortedAudio as |audio|}}
    <li>
      <article>
        <header>
          <h3>{{material-design-icon name="file-download"}} <a href="#">{{audio.title}}</a></h3>
        </header>
        <p class="body">{{audio.summary}}</p>
        <span class="datestamp">{{date-format notice.date 'd MMM YY'}}</span>
        <p class="float-right speaker">
          {{material-design-icon name='face'}} {{#link-to 'index'}}{{audio.speaker}}{{/link-to}}
        </p>
      </article>
    </li>
    <hr>
  {{/each}}
</ul>
