<ul id="notices">
  {{#each sortedNotices as |notice|}}
  <li>
    <article>
      <header>
        <span class="category {{notice.category}}">{{notice.category}}</span>
        <h3 class="h3 mt-1 mb-1">
          {{#link-to 'notices.show' notice}}
            {{notice.title}}
          {{/link-to}}
        </h3>
      </header>
      <p class="text-body">{{truncate-text notice.text limit="154" stripHtml=true}}</p>
      <span class="datestamp">{{date-format notice.date 'D MMM YY'}}</span>
      <p class="float-right">
        <i class="material-icons">label_outline</i>
        {{#each notice.tags as |tag|}}
          {{#link-to 'notices' (query-params tag=tag) class="tag-link"}}
            {{tag}}
          {{/link-to}}
        {{/each}}
      </p>
      <hr>
    </article>
  </li>
  {{/each}}
</ul>
