<ul id="notices">
  {{#each sortedNotices as |notice|}}
  <li>
    <article>
      <header>
        <span class="category {{notice.category}}">{{notice.category}}</span>
        <p class=title>{{notice.title}}</p>
      </header>
      <p class="body">{{notice.body}}</p>
      <span class="datestamp">{{date-format notice.date 'd MMM YY'}}</span>
      <p class="float-right">
        {{material-design-icon name="label-outline"}}
        {{#each notice.tags as |tag|}}
          {{#link-to 'index' class="tag-link"}}
            {{tag}}
          {{/link-to}}
        {{/each}}
      </p>
      <hr>
    </article>
  </li>
  {{/each}}
</ul>
