<ul id="notices">
  {{#each notices as |notice|}}
  <li>
    <article>
      <header>
        <span class="category {{notice.category}}">{{notice.category}}</span>
        <p class=title>{{notice.title}}</p>
      </header>
      <p class="body">{{notice.body}}</p>
      <span class="datestamp">{{date-format notice.date 'd MMM YY'}}</span>
      <p class="float-right">
        {{#each notice.tags as |tag|}}
          <span class="tag-link">{{tag}}</span>
        {{/each}}
      </p>
      <hr>
    </article>
  </li>
  {{/each}}
</ul>
