<div id="sc-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#each slides as |slide index|}}
      <li data-target="#sc-carousel" data-slide-to={{index}} class="{{if (eq index 0) 'active' }}"></li>
    {{/each}}
  </ol>
  <div class="carousel-inner">
    {{#each slides as |slide index|}}
      <div class="carousel-item {{if (eq index 0) 'active' }}">
        <div class="carousel-caption">
          <span class="category {{slide.category}}">{{slide.category}}</span>
          <h4>{{slide.title}}</h4>
          <p>{{truncate-text slide.text limit="240" stripHtml=true}}</p>
          <p>
            {{#link-to 'notices.show' slide.id}}
              Read {{slide.title}}
            {{/link-to}}
          </p>
        </div>
        <div class="img-wrapper">
          {{#link-to 'notices.show' slide.id}}
            <img src="{{slide.image}}" alt="{{slide.title}}">
          {{/link-to}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
