<div id="sunday" class="container-fluid bg-template">
  <div class="row">
    <div class="col">
      <div class="service-times card card-square text-white bg-template">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <span class="hide">THIS WEEK</span>
            </div>
            <div class="col-6">
              <span class="float-right">
                {{date-format service.date 'dddd'}}, {{date-format service.date 'D MMM'}} | {{date-format service.date 'h:mmA'}}
                {{#if service.speaker}}
                  | {{service.speaker}}
                  {{#if service.topic}}
                    | {{service.topic}}
                  {{/if}}
                {{/if}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
