{{nav-header church=church pages=pages}}

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Notices</h1>
      </div>
    </div>
    <hr>
    <ul id="notices">
      {{#each sortedNotices as |notice|}}
        <li>
          <article>
            <div class="row">
              <div class="col">
                <header>
                  <h2 class="h3 mt-0 mb-0">
                    {{#link-to 'notices.show' notice.id}}
                      {{notice.title}}
                    {{/link-to}}
                    {{#if session.isAuthenticated}}
                      {{#link-to 'admin.edit' 'notice' notice.id}}
                        <i class="material-icons">create</i>
                      {{/link-to}}
                    {{/if}}
                  </h2>
                </header>
              </div>
            </div>
            <div class="row  no-gutters summary">
              <div class="col-md-3 notice-img">
                {{#link-to 'notices.show' notice.id}}
                  <img src="{{notice.image}}" alt="{{notice.title}}">
                {{/link-to}}
              </div>
              <div class="col-md-9">
                <p class="text-body">
                  {{truncate-text notice.text limit="600" stripHtml=true}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span class="category {{notice.category}}">{{notice.category}}</span><span class="datestamp">&nbsp;&nbsp;&nbsp;&nbsp;{{date-format notice.date 'D MMM YY'}}</span>
                <p class="float-right">
                  <i class="material-icons">label_outline</i>
                  {{#each notice.tags as |tag|}}
                    {{#link-to 'notices' (query-params tag=tag) class="tag-link"}}
                      {{tag}}
                    {{/link-to}}
                  {{/each}}
                </p>
                <hr>
              </div>
            </div>
          </article>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

{{nav-footer church=church}}
