{{!-- <div class="col-md-2 bg-light sidebar">
  <ul class="nav flex-column mt-4 mb-2 text-muted">
    <li class="nav-item">
      {{#link-to 'admin.edit' class="nav-link" }}
        <i class="material-icons">create</i> Create new content
      {{/link-to}}
    </li>
  </ul>
</div> --}}
<main role="main" class="col-md-10 ml-sm-auto">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 mr-auto">{{itemHeader}}</h1>
    <div class="mr-2">
      Add new:
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-primary mr-1" {{action 'createContent' 'notice'}}>Notice</button>
      <button type="button" class="btn btn-primary mr-1" {{action 'createContent' 'audio'}}>Message</button>
      <button type="button" class="btn btn-primary mr-1" {{action 'createContent' 'ministry'}}>Ministry</button>
      <button type="button" class="btn btn-primary mr-1" {{action 'createContent' 'page'}}>Page</button>
    </div>
  </div>
  <div class="input-group mb-3">
    <select class="custom-select" onchange={{action 'filterModels' value="target.value"}}>
      {{#each modelItems as |item|}}
        <option value="{{item.modelName}}">{{item.label}}</option>
      {{/each}}
    </select>
  </div>
  <div class="list-group">
    {{#each contents as |content|}}
      {{#link-to 'admin.edit' content.modelName content.id class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"}}
        {{content.editCat}} {{#if content.category}}({{content.category}}) {{/if}}- {{#if content.date}}{{date-format content.date 'D MMM YY'}} -{{/if}} {{content.title}}
        <div class="edit-cat mr-1">
          <span class="badge">{{content.status}}</span> |
          Edit
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</main>
