<main id="edit" role="main" class="col-md-10 ml-sm-auto">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <heading class="mr-auto">
      <span class="badge badge-primary mr-1">Editing</span>
      {{#if (not editTitle)}}
        <h1 class="h3">{{model.title}} <i class="material-icons" {{action 'titleEdit'}}>create</i></h1>
      {{else}}
        <div class="input-group mt-2 mr-auto">
          {{input type="text" class="form-control" value=(mut model.title) aria-label="Post title"}}
        </div>
      {{/if}}
    </heading>
    <div class="saving">
      <button type="button" class="btn btn-outline-success" name="button" {{action 'saveContent'}}>
        Save content
      </button>
      {{#if isSaving}}
        <span><i class="material-icons">autorenew</i> Saving content</span>
      {{/if}}
    </div>
  </div>
  <div class="content">
    {{medium-content-editable value=model.category}}
    {{date-format model.date 'D MMM YY'}}
    {{model.updated}}
    <hr>
    {{medium-content-editable value=model.text}}
    {{#if model.image}}
      {{model.image}}
    {{/if}}
    {{#if model.tags}}
      {{model.tags}}
    {{/if}}
  </div>
</main>
