<main role="main" class="col-md-10 ml-sm-auto">
  <div class="pb-2 mb-3 border-bottom">
    <h1 class="h2">Settings</h1>
  </div>
  <div class="row">
    <div class="col">{{log model}}
      <form>
        <div class="form-group">
          <label for="churchName">Church name</label>
          {{input value=model.name type="text" class="form-control" id="churchName" required=true}}
        </div>
        <div class="mb-3 pt-3 border-bottom">
          <h6>Church location</h6>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="addressOne">Address</label>
            {{input value=model.address type="text" class="form-control" id="addressOne" required=true placeholder="1234 Main St"}}
          </div>
          <div class="form-group col-md-6">
          <label for="inputAddress2">Address 2</label>
            {{input value=model.address2 type="text" class="form-control" id="addressTwo" placeholder="Apartment, studio, or floor"}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="city">City</label>
            {{input value=model.city type="text" class="form-control" id="city" required=true}}
          </div>
          <div class="form-group col-md-4">
            <label for="state">State</label>
            {{input value=model.state type="text" class="form-control" id="state"}}
          </div>
          <div class="form-group col-md-2">
            <label for="zip">Zip/Area Code</label>
            {{input value=model.zip type="text" class="form-control" id="zip"}}
          </div>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          {{input value=model.country type="text" class="form-control" id="country" required=true}}
        </div>
        <div class="mb-3 pt-3 border-bottom">
          <h6>Church contacts</h6>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phone">Phone</label>
            {{input value=model.phone type="text" class="form-control" id="phone" placeholder="eg. (04) 555-1245"}}
          </div>
          <div class="form-group col-md-6">
          <label for="email">Email</label>
            {{input value=model.email type="email" class="form-control" id="email"}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="twitter">Twitter</label>
            {{input value=model.twitter type="text" class="form-control" id="twitter" placeholder="eg. http://twitter.com/church-name"}}
          </div>
          <div class="form-group col-md-6">
          <label for="facebook">Facebook</label>
            {{input value=model.facebook type="text" class="form-control" id="facebook" placeholder="eg. http://facebook.com/church-name"}}
          </div>
        </div>
        <div class="mb-3 pt-3 border-bottom">
          <h6>Default service times</h6>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="serviceDay">Day</label>
            {{input value=model.serviceDay type="text" class="form-control" id="serviceDay" placeholder="eg. Sunday"}}
          </div>
          <div class="form-group col-md-6">
          <label for="times">Service times</label>
            {{input value=model.serviceTimes type="text" class="form-control" id="times" placeholder="Comma seperated - eg. 10:00, 17:00, 19:30"}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save details</button>
      </form>
    </div>
  </div>
</main>
