{{nav-header church=church pages=pages}}

<div id="ministry" class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 back-link">
        {{#link-to 'ministries'}}
          <i class="material-icons">arrow_back</i> Back to ministries
        {{/link-to}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1>{{model.title}}</h1>
        <hr>
        <img src="{{model.image}}" alt="{{model.title}}" />
        <p>{{{model.text}}}</p>
      </div>
    </div>
  </div>
</div>

{{nav-footer church=church}}
