<div id="ministry" class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 back-link">
        {{#link-to 'ministries'}}
          {{material-design-icon name="arrow-back"}} Back to ministries
        {{/link-to}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>{{model.title}}</h3>
        <hr>
        <img src="{{model.image}}" alt={{model.title}} />
        <p>{{model.body}}</p>
      </div>
    </div>
  </div>
</div>
