{{nav-header church=church pages=pages}}

<div class="main">
  <div class="container-fluid">
    {{#if speaker}}
      <div class="row">
        <div class="col back-link mt-3">
          <a href='' {{action 'resetQuery'}}>See all speakers</a>
        </div>
      </div>
    {{/if}}
    <div class="row">
      <div class="col">
        <h1>Messages</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul id="medias">
          {{#each speakerAudio as |media index|}}
            <li>
              <article>
                <header>
                  <h3>
                    <a data-toggle="collapse" class="collapsed" href="#mediaCollapse-{{index}}" aria-expanded="false" aria-controls="#mediaCollapse-{{index}}">
                      <i class="material-icons collapsed-add">add_circle</i>
                      <i class="material-icons collapsed-remove">remove_circle</i>
                      {{media.title}}
                    </a>
                    {{#if session.isAuthenticated}}
                      {{#link-to 'admin.edit' 'audio' media.id}}
                        <i class="material-icons">create</i>
                      {{/link-to}}
                    {{/if}}
                  </h3>
                </header>
                <p class="body">{{truncate-text media.text limit="500" stripHtml=true}}</p>
                <div class="collapse" id="mediaCollapse-{{index}}">
                  <video controls preload="metadata" name="{{media.title}}" poster="/assets/img/audio.png">
                    <source src="{{media.link}}" type="audio/mp3">
                    <p class="body">Your browser doesn't support video/media playback.</p>
                    <p><a href="{{media.link}}" download>Download {{media.title}}</a></p>
                  </video>
                  <br>
                </div>
                <span class="datestamp">{{!-- <span class="category">{{media.category}}</span>&nbsp;&nbsp;&nbsp;&nbsp; --}}{{date-format notice.date 'D MMM YY'}}</span>
                <p class="float-right speaker">
                  <i class="material-icons">face</i>
                  {{#link-to 'audios' (query-params speaker=media.speaker) class="tag-link"}}
                    {{media.speaker}}
                  {{/link-to}}
                </p>
              </article>
            </li>
            <hr>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{nav-footer church=church}}
