{{nav-header church=church pages=pages}}

<div class="main">

  {{slide-carousel id="home-carousel" slides=slides}}

  {{this-sunday service=nextService}}

  {{this-week events=eventsOnlyFeed services=model.services}}

  <div class="container-fluid">
    {{#if (and (not model.audios) (not eventsOnlyFeed))}}
      <div class="row">
        <div class="col">
          <h4 class="home">Notices</h4>
          <hr>
          {{notice-summary notices=allNoticesFeed}}
        </div>
      </div>
    {{/if}}
    {{#if (and (not model.audios) eventsOnlyFeed)}}
      <div class="row">
        <div class="col-md-6">
          <h4 class="home">Notices/Needs</h4>
          <hr>
          {{notice-summary notices=noticesNeedsFeed}}
        </div>
        <div class="col-md-6">
          <h4 class="home">Events</h4>
          <hr>
          {{notice-summary notices=eventsOnlyFeed}}
        </div>
      </div>
    {{/if}}
    {{#if model.audios}}
      <div class="row">
        <div class="col-md-6">
          <h4 class="home">Notices</h4>
          <hr>
          {{notice-summary notices=allNoticesFeed}}
        </div>
        <div class="col-md-6">
          <h4 class="home">Messages</h4>
          <hr>
          {{media-audio medias=filteredAudio}}
        </div>
      </div>
    {{/if}}
  </div>

  {{address-map church=church}}

</div>

{{nav-footer church=church}}
