{{nav-header church=church}}

<div class="main">

  {{slide-carousel id="home-carousel" slides=slides}}

  {{this-sunday }}

  <div class="container-fluid">
    <div class="row">
      {{#if newsFeed}}
        <div class="col-md-6">
          <h4 class="home">Notices</h4>
          <hr>
          {{notice-summary notices=newsFeed}}
        </div>
      {{/if}}
      {{#if audios}}
        <div class="col-md-6">
          <h4 class="home">Messages</h4>
          <hr>
          {{media-audio audios=audios}}
        </div>
      {{/if}}
    </div>
  </div>

  <hr>
  
  {{#if church}}
    {{address-map church=church}}
  {{/if}}

</div>

{{nav-footer }}
