<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>Messages</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul id="audios">
          {{#each model as |audio index|}}
            <li>
              <article>
                <header>
                  <h3><a data-toggle="collapse" href="#audioCollapse-{{index}}" aria-expanded="false" aria-controls="#audioCollapse-{{index}}">
                    <i class="material-icons">video_library</i> {{audio.title}}</a>
                  </h3>
                </header>
                <div class="collapse" id="audioCollapse-{{index}}">
                  <video controls preload="auto" name="{{audio.title}}" poster="/assets/img/audio.png">
                    <source src="/assets/test-audio/20180211.mp3" type="audio/mp3">
                    Your browser doesn't support video/audio playback
                  </video>
                </div>
                <p class="body">{{audio.summary}}</p>
                <span class="datestamp">{{!-- <span class="category">{{audio.category}}</span>&nbsp;&nbsp;&nbsp;&nbsp; --}}{{date-format notice.date 'd MMM YY'}}</span>
                <p class="float-right speaker">
                  <i class="material-icons">face</i> {{#link-to 'index'}}{{audio.speaker}}{{/link-to}}
                </p>
              </article>
            </li>
            <hr>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
