{{nav-header church=church pages=pages}}

<div id="page" class="mb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="border-bottom pb-3">{{model.title}}</h1>
        <p>{{{model.text}}}</p>
      </div>
    </div>
  </div>
</div>

{{address-map church=church}}

{{nav-footer church=church}}
